@(contacts: List[Contact], contactForm: Form[String])

@import helper._

@main("Contacts") {
    
    <h1>@contacts.size contact(s)</h1>
    
    <ul>
        @contacts.map { contact =>
            <li>
                @contact.name
                
                @*form(routes.Application.deleteTask(contact.id)) {
                    <input type="submit" value="Delete">
                }*@
            </li>
        }
    </ul>
    
    <h2>Add a new contact</h2>
    
    @form(routes.Application.newContact) {
        
        @inputText(contactForm("name")) 
        
        <input type="submit" value="Create">
        
    }
    
}